---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";


export async function getStaticPaths() {
  const paintings = await getCollection("paintings");
  return paintings.map((publication) => ({
    params: { slug: publication.slug },
    props: publication,
  }));
}

type Props = CollectionEntry<"paintings">;
const paintings = Astro.props;

//assign color paintigs.data.colors[0] to class jr-color
// document.documentElement.style.setProperty('--color1-slug', paintings.data.colors[0]);
// document.documentElement.style.setProperty('--color2-slug', paintings.data.colors[1]);
// document.documentElement.style.setProperty('--color3-slug', paintings.data.colors[2]);
---

<Layout >
  <main class="flex h-screen"   
  style={`
    --color1-slug: ${paintings?.data?.colors?.[0] ?? ''}
    --color2-slug: ${paintings?.data?.colors?.[1] ?? ''}
    --color3-slug: ${paintings?.data?.colors?.[2] ?? ''}
  `}  
  >
    <img src={paintings.data.image} alt={paintings.data.title} class="h-full-screen w-auto object-contain" 
    style={`view-transition-name: image-${paintings.slug}`}
    />
    <div class="m-5 overflow-y-auto pr-10">
      <h1 class="text-7xl font-black jr-color" style={`color:var(--color1-slug);`}>{paintings.data.title}</h1>
      <h2 class="text-4xl font-black" style={`color: var(--color2-slug);`}>{paintings.data.painter}</h2>
      <h3 class="text-2xl font-black">{paintings.data.date}</h3>
      <hr>
      <h1 class="text-5xl font-black">S{paintings.data.season}E{paintings.data.episode} "{paintings.data.episode_name}"</h2>
      <h3 class="text-2xl font-black">{paintings.data.episode_date}</h3>
      <hr>
      <p class="text-2xl">{paintings.data.colors}</p>

    </div>
  </main>
</Layout>

